@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap");
.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mb-7 {
  margin-bottom: 56px;
}

.mb-8 {
  margin-bottom: 64px;
}

.mb-9 {
  margin-bottom: 72px;
}

.mb-10 {
  margin-bottom: 80px;
}

.mb-11 {
  margin-bottom: 88px;
}

.mb-12 {
  margin-bottom: 96px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.sub-title {
  font-size: 64px;
  line-height: 84px;
  text-align: center;
}

.bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fw-med {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fw-black {
  font-weight: 900;
}

.fz-med {
  font-size: 1.25rem;
}

.fz-lg {
  font-size: 1.5rem;
}

.bg-dark {
  background-color: #000;
}

.lh-sm {
  line-height: 1.33333;
}

.header {
  height: 958px;
  background-image: url("../../images/header-bg.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.header__container {
  width: 304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title .small {
  display: block;
  font-size: 1.5rem;
  line-height: 32px;
}

.header__title .big {
  font-size: 80px;
  font-weight: 900;
  line-height: 106px;
}

.header__text {
  font-size: 1.5rem;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link + .header__link {
  margin-left: 16px;
}

.header__image {
  width: 60px;
  height: 60px;
}

.about {
  padding: 56px 0;
  text-align: center;
}

.about__hr {
  width: 384px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.about__container {
  width: 412px;
  margin: 0 auto;
  font-size: 1.5rem;
}

.about__image {
  width: 384px;
  height: 384px;
  margin-bottom: 20px;
}

.about__text:first-of-type {
  margin-bottom: 4px;
}

.about__item {
  margin-bottom: 28px;
  position: relative;
}

.about__item::before {
  content: "";
  display: inline-block;
  margin-right: 16px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #891818;
}

.brand {
  padding-top: 56px;
  padding-bottom: 160px;
  color: #fff;
  text-align: center;
}

.brand .sub-title {
  margin-bottom: 12px;
}

.brand__text:nth-of-type(2) {
  margin-bottom: 68px;
}

.brand__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand__item {
  text-align: center;
}

.brand__item:first-child {
  width: 100%;
}

.work {
  padding-top: 56px;
  padding-bottom: 144px;
  text-align: center;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__list {
  font-size: 1.25rem;
}

.footer {
  padding: 64px 0;
  text-align: center;
  color: #fff;
}

.footer__contact {
  font-size: 1.5rem;
}

.footer__link {
  color: #fff;
}

.footer__link:hover {
  color: #891818;
}
/*# sourceMappingURL=main.css.map */