//colors
$color-primary: #891818;
$color-secondary: #707070;
$color-dark: #000;
$color-light: #fff;

//container
$container-width: 1200px;

//font-sizes
$font-base: 1rem;
$font-med: $font-base * 1.25;
$font-lg: $font-base * 1.5;

//font-weight
$fw-med: 500;
$fw-bold: 700;
$fw-black: 900;